---
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';

let {metaTitle, metaDescription, metaImage} = Astro.props.content ?? {
  metaTitle: undefined,
  metaDescription: undefined,
  metaImage: undefined,
};

const view = `/${Astro.request.url.pathname.split('/')[1] ?? ''}`;
let backHref = '';
if (view !== '/') {
  backHref = '/' + Astro.request.url.pathname.split('/').slice(0, -1).join('');
}
const location = Astro.request.url;
if (metaImage) {
  metaImage = `${Astro.site}${metaImage}`
}
---


<html lang="en">

<head>
  <!--
    _______  _   _   __   _____      _    _       ____   ____
   | _____/ | | | | |_/  / ___ \    | |  | |     /  _ \ / _  \
   | |___   | | | |  _  / /   \ \ __| |__| |__   | | \ V / | |
   | ___/   | | | | | | | |   | | \_  ___  __/   | |  \_/  | |
   | |_____ | | | | | | \ \___/ /   | |  | |     | |       | |  __
   |______/ |_/ |_/ |_/  \_____/    |_/  |_/     |_/       |_/ |_/
  -->
  <title>{metaTitle}</title>

  <meta name="theme-color" content="#000000">
  <meta name="msapplication-navbutton-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {metaTitle ? <meta property="og:title" content={metaTitle}> : null}
  {metaDescription ? <meta name="description" content={metaDescription}> : null}
  {metaDescription ? <meta property="og:description" content={metaDescription}> : null}
  {metaImage ? <meta property="og:image" content={metaImage}> : null}
  <meta property="og:url" content={location}>
  <link rel="icon" type="image/ico" href="/assets/img/favicon.ico?v=1">

  <link rel="stylesheet" href="/styles/root-styles.css">
  <link rel="stylesheet" href="/styles/article-styles.css" global>
  <style>
    #body-wrapper {
      width: 80%;
      margin: 0 auto;
      display: flex;
    }

    #body-background {
      top: var(--header-height);
      position: absolute;
      inset-inline-start: 0;
      inset-inline-end: 0;
      z-index: 2;
      background-color: var(--primary-color);
    }

    #body-sheet {
      background-color: var(--surface-color);
      border-radius: 16px 16px 0 0;
    }

    #body {
      flex-grow: 1;
    }

    @media (max-width: 600px) {
      #body-wrapper {
        display: flex;
        flex-direction: column;
        width: 95%;
      }
    }
  </style>
</head>
<body>
  <Header backHref={backHref}>Elliott Marquez</Header>
  <div id="body-background">
    <div id="body-sheet">
      <div id="body-wrapper">
        <Nav view={view} />
        <div id="body">
          <div class="article">
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>